.loadingWrapper {
  margin: auto;
}

.loader{
  width: 30px;
  height: 30px;
  border: 2px solid rgb(168, 163, 163);
  border-top: 2px solid black;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}