@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(69, 67, 67);
}
::-webkit-scrollbar-track{
    background-color: rgb(215, 211, 211);
}

.wrapper{
    display: flex;
    background-color: white;
}

.navigation{
    width: 54px;
    height: 100vh;
}

.content{
    width: calc(100% - 54px);
    display: flex;
    flex-direction: column;
    position: relative;
}

.search{
    height: 56px;
    background-color: white;
    position: relative;
}

.home{
    height: 100%;
    position: relative;
}